#scroll {
    /* margin-top: 3vh; */
    height: 45vh;
    padding: 1rem 0;
    overflow-x: auto;
    display: flex;
}

#scroll::-webkit-scrollbar {display: none;}
.card_face_back::-webkit-scrollbar {display: none;}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 95%;
    min-width: 20%;
    width:20%;
    margin: 0 1rem;
    /* padding: 0.5rem; */
}

@media (max-width: 480px) {
    .card {
        min-width: 50%;
        width:50%;
        height: 90%;
    }
}

.card_face {
    color: white;
    height: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 4px;
    overflow: hidden;
    padding: 0.5rem;
}

.card_details {
    margin: 0;
}
/* .card-face-front {
    
} */
.card_face_back {
    transform: rotateY(180deg);
    overflow-y: auto;
}

.card:hover .card_face_front {
    transform: rotateY(180deg);
}

.card:hover .card_face_back {
    transform: rotateY(0deg);
}

.card:first-of-type {
    margin-left: 0;
}

.card:last-of-type {
    margin-right: 0;
}

.card_image {
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    /* background-size: 100% 100%; */
    height: 75%;
}