.explore {
    height: 88vh;
    padding: 1vw 5vw;
    background-color: var(--background-secondary);
}

.gallery {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(33%, 1fr));
    grid-gap: 1em;
    justify-content: center;

    height: 100%;
}