.explore {
    /* height: 88vh; */
    padding: 1vw 10vw;
    background-color: var(--background-secondary);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 0.5em));

    grid-gap: 1em;
    justify-content: center;

    height: 80%;
}

.link {
    text-decoration: none;
}