.home_page {
    color: var(--text-primary);
}

h1 {
    color: white;
    font-size: 4rem;
}

h2:first-child {
    margin-top: 0;
}

.main {
    background-image: var(--background-img);
    background-position: center;
    background-size: cover;
    height: 88vh;


    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    background-color: var(--background-secondary);
    height: 88vh;
    display: flex;

    padding-top: 1vh;
}

.about > * {
    padding: 1rem;
    width: 50%;
}

.about_right {
    display: flex;
    justify-content: center;
}

.card_wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}