.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 95%;
  min-width: 25%;
  width: 25%;
  margin: 0 1rem;
  /* padding: 0.5rem; */
}

.card-face {
  color: white;
  height: 100%;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.card-details {
  margin: 0;
}
.card-face-front {
  background-color: orangered;
}

.card-face-back {
  transform: rotateY(180deg);
  background-color: orangered;
  overflow-y: auto;
}

.card-face-back::-webkit-scrollbar {display: none;}

.card-image {
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  /* background-size: 100% 100%; */
  height: 75%;
}

.card-name {
  margin-left: 3%;
}

.card-details {
  margin: 3%;
  margin-right: 0;
}

.card:first-child {
  margin-left: 0;
}

.card:last-child {
  margin-right: 0;
}